.card-img {
  transform: translateY(-50%);
}

.card-content-info span {
  font-size: 90%;
}

.card-content-info span:after {
  display: inline-block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #2c3a3a;
  margin: 0 0.5rem;
}
.card-content-info span:last-child:after {
  display: none;
}

.card-tag:hover {
  transform: scale(1.15);
  transition: transform 0.15s;
}

@media (min-width: 640px) {
  .card-img {
    transform: none;
  }
}
