.header {
  background-image: url("../../assets/img/bg-header-mobile.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.filter {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.filter.active {
  opacity: 1;
  pointer-events: auto;
}

@media (min-width: 640px) {
  .header {
    background-image: url("../../assets/img/bg-header-desktop.svg");
  }
}
